.Campus
{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.Gallery
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.Gallery img
{
    width: 23%;
    border-radius: 10px;
}
/* media qurey */
@media (max-width:800px)
{
    .Gallery
    {
        flex-wrap: wrap;
    }
    .Gallery img
    {
        width: 48%;
        margin-bottom: 25px;
    }
}